html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 99.4vmin;
}

#menu-stars {
  display: none;
  flex-direction: column;
  align-self: center;
  position: absolute;
  margin-top: -60px;
  margin-left: -150px;
  left: 50%;
  top: 90%;
  z-index: 1;
}

#menu-parameters {
  display: none;
  align-self: center;
  flex-direction: column;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}

.star-options {
  display: inline-block;
  width: 300px;
  height: 30px;
  color:black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color:azure;
}

.parameters {
  display: inline-block;
  width: 200px;
  height: 40px;
  color:black;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color:azure;
}

#wholepage {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
}

.menu-button {
  display: inline-block;
  border: 1px solid black;
  width: 100px;
  height: 20px;
  position: absolute;
  color: black;
  background-color: azure;
  margin-top: -10px;
  margin-left: -50px;
  top: 97%;
  left: 50%;
  z-index: 1;
}

button:hover {
  background-color: darkgrey;
  color: white;
}

#close-button {
  display: none;
  margin-top: 0;
  margin-left: 98%;
  color: white;
  width: 20px;
  height: 20px;
  background-color: black;
  z-index: 1;
}

#background-stars{
    position: absolute;
    border-radius: 50%;
    z-index: 0;
}

#menu-speed {
    display: none;
    align-self: center;
    flex-direction: row;
    position: absolute;
    bottom: 2%;
    right: 2%;
    z-index: 1;
    background-color: azure;
    color:black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

#giant-stars{
    position: absolute;
    border-radius: 50%;
    z-index: 0;
}

#star-giant1 {
    display: flex;
    border: solid red 5px;
}